deploy:
  provider: npm
  email: "tihonov.ea@gmail.com"
  api_key:
    secure: Yx6VUIwSTZIWfxSSGg/Fb5Qa+BIv9a4Wq0XTXCdcj+iZDnnVT9ZdJQa3e8fTr9h3zY/siRKlQDJRVZHCvzkWgihoK0/qoMTFhQ7o1bpQ2ZVZoWIWW9Kv7JKDZDTnUvhMNrP7Z7HZFNnF66cbmXQvLVQ8t1ppzH3Y1eYqf8QOZVkaxsePIVkl/XnsdE6PUbGdew81vEY5hXgOJs7l+GyNat7uHRwEVRmgFXgp4nFoa4w3ESSTd9xv3hRsDUJLKNIG/9TIqGYSq741jrbqlD6d4jwPYXI+s/vruAiX4Dgh/GtQukOTmxbEWVPZbndLnhy/TBmh6m0W76OmKRNJ14pV8gzPB9l+Dv02PKUXHHGavCXEWtClc45oWjHDPBGxrmK1UDAp8t0qRc7lUF7JGZg5c4PhohdAPEKTnRPy2yE7FBmhMGZ4pl6sWhygemfWggCTSynY3SC7RrjW5246p80WkG/Uf37QhrBjjpv9jAHFsIjj4qSpqELsuXyJaMsW+eCCgArf44yVR6K0VG6ttJk9nd9+KxP2UPU8xYzjrKTzmcoxLO9XgPNeKJQe6m4gDqxIuq9bFCagwM0Fhu5cC4Ppp0Ihdw/ucf30z3jVO3ITsw0PGtr1V3jRMyCEPuVwr4Yb0kHeb0tTLvXztkOvW5Ws0vJ+0atSkXFE8IVpi8cLyMw=
  on:
    tags: true
    branch: master
